<connectionStrings>
  <add name="SqlserverConnection"
       connectionString="data source=sqlserver;
                         initial catalog=MyEverNoteAppDb;
                         persist security info=True;
                         user id=sa;
                         password=@Controller0221@;
                         MultipleActiveResultSets=True;
                         App=EntityFramework"
       providerName="System.Data.SqlClient" />
</connectionStrings>