@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!--Kategoriler-->
        <div class="col-lg-3">
            <h1 class="my-4">Kategoriler</h1>
            <div class="list-group">
                <a href="#" class="list-group-item"><i class="fas fa-hand-point-right"></i> Tüm Kategoriler</a>
                <a href="#" class="list-group-item"><i class="fas fa-hand-point-right"></i> Category 1</a>
                <a href="#" class="list-group-item"><i class="fas fa-hand-point-right"></i> Category 2</a>
                <a href="#" class="list-group-item"><i class="fas fa-hand-point-right"></i> Category 3</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
      
        <div class="col-lg-9">
            <!--Karosel-->
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="http://www.billsdomain.co.uk/images/01.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://www.billsdomain.co.uk/images/02.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://www.billsdomain.co.uk/images/03.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--İçerik Yazılar-->
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#">
                                    Sit amet, consectetur.
                                </a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-user"></i> baris.ozen
                                </li>
                                <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                            </ul>
                            <hr />

                            <p class="card-text">
                                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-left">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                                </button>
                            </small>
                            <small class="text-muted float-right">
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <i class="far fa-comment"></i>Yorumlar
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#">
                                    Sit amet, consectetur.
                                </a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-user"></i> baris.ozen
                                </li>
                                <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                            </ul>
                            <hr />

                            <p class="card-text">
                                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-left">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                                </button>
                            </small>
                            <small class="text-muted float-right">
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <i class="far fa-comment"></i>Yorumlar
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#">
                                    Sit amet, consectetur.
                                </a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-user"></i> baris.ozen
                                </li>
                                <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                            </ul>
                            <hr />

                            <p class="card-text">
                                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-left">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                                </button>
                            </small>
                            <small class="text-muted float-right">
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <i class="far fa-comment"></i>Yorumlar
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#">
                                    Sit amet, consectetur.
                                </a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-user"></i> baris.ozen
                                </li>
                                <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                            </ul>
                            <hr />

                            <p class="card-text">
                                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-left">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                                </button>
                            </small>
                            <small class="text-muted float-right">
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <i class="far fa-comment"></i>Yorumlar
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                        <div class="card-header">
                            <h4 class="card-title">
                                <a href="#">
                                    Sit amet, consectetur.
                                </a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fas fa-user"></i> baris.ozen
                                </li>
                                <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                            </ul>
                            <hr />

                            <p class="card-text">
                                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-left">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                                </button>
                            </small>
                            <small class="text-muted float-right">
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <i class="far fa-comment"></i>Yorumlar
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://d4f29v9wclo2e.cloudfront.net/wp/wp-content/uploads/2018/06/best-instrument-patch-cable.jpg" alt=""></a>
                    <div class="card-header">
                        <h4 class="card-title">
                            <a href="#">
                                Sit amet, consectetur.
                            </a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-user"></i> baris.ozen
                            </li>
                            <li><i class="fas fa-clock"></i> 03.05.2019 22:12</li>
                        </ul>
                        <hr />

                        <p class="card-text">
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted float-left">
                            <button type="button" class="btn btn-sm btn-outline-danger">
                                <i class="far fa-star"></i> <span class="badge badge-light">4</span>
                            </button>
                        </small>
                        <small class="text-muted float-right">
                            <button type="button" class="btn btn-sm btn-outline-success">
                                <i class="far fa-comment"></i>Yorumlar
                            </button>
                        </small>
                    </div>
                </div>
            </div>

            </div>

            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->