@using MyEverNote.WebApp.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<br><br><br>
<br />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">

            <aside class="col-lg-4 offset-lg-4">

                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1 bg-primary">Sign in</h4>
                        <hr>
                        <p class="text-success text-center">Some message goes here</p>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    @Html.TextBoxFor(x => x.Username, htmlAttributes: new { @class = "form-control", placeholder = "Kullanıcı Adınız" })
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifreniz",type="password" })
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->
                            <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
                        </form>
                    </article>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div>

}
<!--container end.//-->
<br><br><br>
<script>
    $(function () {
        $("#baris").hide();
    });
</script>